@import 'variables';
@import 'mixins';
@import 'reset';

.left {
	&__body {
		padding: 0;
	}

	&__mavzu {
		border-radius: 0;

		a {
			border: none;
		}
	}
}

.right {
	// &__video {
	// iframe {}
	// }

	.tests {
		padding-left: 0;

		&__item {
			margin-bottom: 30px;
		}

		&__variant {
			// display: flex;
			// flex-wrap: wrap;

			.form-check {
				margin-bottom: 10px;
				// flex-grow: 1;
			}
		}
	}

	&__book {
		a {
			span {
				display: inline-block;
				vertical-align: middle;
			}

			img {
				vertical-align: middle;
				width: 30px;
				padding-right: 5px;
			}
		}
	}
}